@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header */

.header-cotainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 700px;
}

.header-element {
  padding: 10px;
  font-size: 18px;
}

header {
  background-color: #00adb5;
  /* padding: 16px 32px; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  width: 700px;
  margin: 10px auto;
  display: flex;
}

/* Profile */

.profile-cotainer {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 700px;
}

.profile-element {
  margin: auto;
}

.profile-element p {
  font-size: 15px;
  text-align: center;
}

.img {
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
}

.name {
  font-size: 30px;
}

/* Resume  */

.resume {
  background-color: #393e46;
  width: 700px;
  margin: 10px auto;
}

.content {
  width: 700px;
}

/* Left Top */

.left {
  width: 350px;
  padding: 10px;
  float: left;
  background-color: #393e46;
}

.left-top-title-container {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.left-top-title-element {
  margin: 10px;
}

.vertical-divider {
  border-left: 2px solid #eeeeee;
  height: 520px;
}

.left-top-content-container {
  display: flex;
}

.left-top-content {
  margin: 5px;
}

.companies {
  font-size: 13px;
  width: 117px;
}

.mgt-title {
  margin-top: 140px;
}

.mgt-description {
  margin-top: 65px;
}

.company-name {
  color: #00adb5;
  font-weight: bold;
}

.text {
  font-size: 15px;
  margin-bottom: 10px;
}

.role {
  margin-bottom: 5px;
  font-weight: bold;
}

.company-descriptions {
  width: 230px;
}

.info {
  margin-top: 8px;
}

/* Right Top */

.right-top {
  width: 350px;
  padding: 10px;
  float: right;
  background-color: #393e46;
}

.right-top-title-container {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.right-top-title-element {
  margin: 10px;
}

.right-top-content-container {
  margin-top: 5px;
  margin-left: 25px;
}

.major-title {
  font-style: italic;
  margin-bottom: 5px;
}

.right-margin-top {
  margin-top: 30px;
}

.right-bottom {
  display: flex;
}

.skills {
  width: 175px;
}

.skills-title {
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.skills-container {
  display: flex;
}

.skill-names {
  margin-left: 25px;
  width: 175px;
}

.skill-points {
  margin-top: 38px;
}

.points {
  margin-left: 20px;
}

.circle {
  margin-bottom: 10px;
}

/* Body */

body {
  background-color: #222831;
  color: #eeeeee;
}

/* Footer */

footer {
  text-align: center;
  width: 700px;
}

footer p {
  color: #ccc;
}
